* {
    box-sizing: border-box;
  }

body {
    // background-image: url('../images/bg-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #444;
    font-family: 'Manrope', 'Helvetica', 'Arial', sans-serif;
    padding: 4rem 2rem;
    line-height: 150%;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 4rem;
}

figcaption {
    font-size: 12px;
    text-align: center;
    margin: 2rem;
}

label {
    display:block;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
textarea {
    width: 100%;
    height: 200px;
    background:#fff;
    font-size: 18px;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    resize: none;
    box-shadow: 0 5px 15px rgba(155, 170, 172, 0.8);
}

button {
    width: 100%;
    background: rgba(97, 197, 228, 1);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    border: 0;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(155, 170, 172, 0.5);
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(82, 193, 226);
        box-shadow: 0 5px 15px rgba(155, 170, 172, 0.8);
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
        z-index: -1;
    }

    &:hover {
        transform: scale(1.01, 1.01);
    }

    &:hover::after {
        opacity: 1;
    }

    &:active {
        transform: translateY(2px);
        transition: transform 90ms ease-out;
    }
}

/* Reset style for HTML element on active to have no border */
input:focus,
select:focus,
textarea:focus,
fieldset,
textarea,
button,
button:focus {
    outline: none;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

/* Style for Placeholder Text*/
::placeholder, /* Firefox, Chrome, Opera */ 
:-ms-input-placeholder, /* Internet Explorer 10-11 */ 
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(134, 148, 153); 
    font-family: 'Oswald', sans-serif;
}

/* Responsive behaviours */
@media only screen and (min-width: 460px) {
    body {
        // background-image: url('../images/bg-desktop.jpg');
        display: grid;
        grid-template-columns: auto 400px auto;
        grid-template-areas: 
        '. head .'
        '. intro .'
        '. form .'
    }

    h1 {
        grid-area: head;
        font-size: 36px;
    }

    p {
        grid-area: intro;
    }
    
    form {
        grid-area: form;
    }

    input,
    textarea, 
    button {
        width: 400px;
    }
}